# Ignore everything
*

# Whitelist anything that's a directory
!*/

# ignore certain directory
workspace/
tmp/

# Add all the file types I'm interested in.
!.gitignore
!*.py
!*.sh
!*.md
!*.yaml
!*.sql
